<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{{ .Title }}</title>
    <style>
        form br {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="/web/css/style.css/"> -->
</head>
<body>
    {{if .Notes}}
        {{range .Notes}}
            {{.Title}}<br>
            {{.Content}}<br>
            <a href="/note/remove/{{ .ID }}">Удалить статью</a><br>
        {{end}}
        <a href="/logout">logout</a>
    {{else}}
        <div class="reg">
        <h1>Регистрация / Авторизация</h1>
        <img src= '/static/images/1995688.png' alt="" width="300" height="300">
        </div>
        <div class="main_d">
            <form action="/auth" method="post">
                <input name="username" placeholder="Имя пользователя" required> <br>
                <input type="password" name="password" placeholder="Пароль" required> <br>
                <br>
                <input type="submit" value="Авторизоваться">
            </form>
            <br>
        </div>

        <div class="main_div">
            <form name='signup' action="/reg" method="post" id="register_form">
                <input type="text" name="username" placeholder="Имя пользователя" required> <br>
                <input type="password" name="password1" id="password1" placeholder="Пароль не менее 8 символов"  required> <br>
                <input type="password" name="password2" id="password2" placeholder="Повторите пароль" required> <br>
                <err_tag id="err_tag" style="color: red;"></err_tag> <br>
                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>
    {{end}}
</body>
</html>
